.add-section {
  width: 100%;
  outline: 2px dashed #979797;
  padding: 1.5em 0;
  text-align: center;
  margin-bottom: 1.5em;
  transition: visually-hidden 2s ease-out, height 2s ease-in;
}

.layout-section {
  margin-bottom: 1.5em;
}

.layout-section .layout__region {
  outline: 2px dashed #2f91da;
  padding: 1.5em 0;
}

.layout-section .layout__region .add-block {
  text-align: center;
}

#drupal-off-canvas  details.layout-selection {
  background-color: transparent;
}

#drupal-off-canvas  details.layout-selection summary {
  margin-bottom: 1em;
}

#drupal-off-canvas  details.layout-selection li {
  display: block;
  padding-bottom: 1em;
}

#drupal-off-canvas  details.layout-selection li a {
  display: block;
  padding-top: 0.55em;
}

#drupal-off-canvas tr:hover td {
  background-color: transparent;
}
